<h1>asdfsdf</h1>
{% schema %}
{
  "name": "FAQ Heading",
  "blocks": [
    {
      "type": "block-1",
      "name": "Block 1",
      "settings": [
        {
          "type": "text",
          "label": "Your Text Here ",
          "id": "text"
        },
        {
          "type": "url",
          "label": "Your Link Here",
          "id": "call-to-action"
        }
      ],
      "blocks": [
        {
          "type": "block - 1 - 1 ",
          "name": "Block alts",
          "settings": [
            {
              "type": "text",
              "label": "youretx here",
              "id": "text-f"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
