<footer class="bg-gray-50 dark:bg-gray-800 antialiased non-of-this">
  <div class="p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:p-10">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
      {% for block in section.blocks %}
        {% case block.type %}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'link_list' -%}
            {%- if block.settings.menu != blank -%}
              <div>
                {%- if block.settings.heading != blank -%}
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                    {{- block.settings.heading -}}
                  </h2>
                {%- endif -%}

                <ul class="text-gray-500 dark:text-gray-400">
                  {%- for link in block.settings.menu.links -%}
                    <li class="mb-4">
                      <a
                        href="{{ link.url }}"
                        class="hover:underline {% if link.active %} text-red-900{% endif %}"
                      >
                        {{ link.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          {% else %}

        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",

  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Company",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Select Menu"
        }
      ]
    }
  ]
}
{% endschema %}
